In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Youtube Data.csv')

In [6]:
df

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
1,2,United States,88.2,328239523,MrBeast,14.70,270663028,MrBeast,Entertainment,Entertainment,...,4000000,3,166000000,8000000,741,28368841870,1348000000,48,4.819277,3.828454e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
4,8,Russia,81.9,144373535,Like Nastya Vlog,4.59,107683889,Like Nastya,People & Blogs,People,...,146800,9,106000000,100000,493,90479060027,48947000,630,0.094340,1.835275e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,989,United States,88.2,328239523,Migos ATL,14.70,270663028,Migos ATL,Music,Entertainment,...,148200,990,12400000,100000,99,6993406259,49412000,833,0.806452,7.064047e+07
550,990,Brazil,51.3,212559417,Natan por AÔø,12.08,183241641,Natan por AÔø,Sports,Entertainment,...,1700000,991,12300000,700000,1200,9029609749,552513000,525,5.691057,7.524675e+06
551,991,India,28.1,1366417754,Free Fire India Official,5.36,471031528,Free Fire India Official,People & Blogs,Games,...,194200,992,12300000,300000,1500,1674409945,64735000,6141,2.439024,1.116273e+06
552,993,Sweden,67.0,10285453,RobTopGames,6.48,9021165,RobTopGames,Gaming,Games,...,11600,994,12300000,100000,39,374123483,3871000,35112,0.813008,9.592910e+06
553,994,India,28.1,1366417754,Make Joke Of,5.36,471031528,Make Joke Of,Comedy,Comedy,...,72000,995,12300000,100000,62,2129773714,24000000,4568,0.813008,3.435119e+07

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               554 non-null    int64
 1   Country                                  554 non-null    object
 2   Gross tertiary education enrollment (%)  554 non-null    float64
 3   Population                               554 non-null    int64
 4   Title                                    554 non-null    object
 5   Unemployment rate                        554 non-null    float64
 6   Urban_population                         554 non-null    int64
 7   Youtuber                                 554 non-null    object
 8   category                                 554 non-null    object
 9   channel_type                             554 non-null    object
 10  channel_type_rank                        554 non-null    int64
 11  country_rank                             554 non-null    int64
 12  created_date                             554 non-null    int64
 13  created_month                            554 non-null    object
 14  created_year                             554 non-null    int64
 15  highest_monthly_earnings                 554 non-null    int64
 16  highest_yearly_earnings                  554 non-null    int64
 17  lowest_monthly_earnings                  554 non-null    int64
 18  lowest_yearly_earnings                   554 non-null    int64
 19  rank                                     554 non-null    int64
 20  subscribers                              554 non-null    int64
 21  subscribers_for_last_30_days             554 non-null    int64
 22  uploads                                  554 non-null    int64
 23  video views                              554 non-null    int64
 24  video_views_for_the_last_30_days         554 non-null    int64
 25  video_views_rank                         554 non-null    int64
 26  engagement_rate                          554 non-null    float64
 27  views_per_upload                         554 non-null    float64
dtypes: float64(4), int64(18), object(6)
memory usage: 121.3+ KB

In [9]:
df.describe()

,Unnamed: 0,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,channel_type_rank,country_rank,created_date,created_year,highest_monthly_earnings,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
count,554.000000,554.000000,5.540000e+02,554.000000,5.540000e+02,554.000000,554.000000,554.000000,554.000000,5.540000e+02,...,5.540000e+02,554.000000,5.540000e+02,5.540000e+02,554.000000,5.540000e+02,5.540000e+02,5.540000e+02,554.000000,5.540000e+02
mean,462.828520,60.533574,4.965559e+08,8.866029,2.402031e+08,238.034296,180.850181,15.259928,2012.492780,8.409689e+05,...,6.307215e+05,463.828520,2.462401e+07,3.431256e+05,14758.036101,1.310608e+10,2.387087e+08,1.297121e+05,1.497291,8.737511e+07
std,289.929893,26.365440,5.178813e+08,4.813768,1.641213e+08,937.109139,732.093496,8.771828,4.468591,1.216598e+06,...,9.120686e+05,289.929893,1.950924e+07,5.881429e+05,44248.913413,1.729334e+10,4.862804e+08,6.815954e+05,2.196131,1.008783e+09
min,0.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,1.000000,1.000000,1.000000,1970.000000,0.000000e+00,...,0.000000e+00,1.000000,1.230000e+07,1.000000e+00,1.000000,2.634000e+03,3.000000e+00,1.000000e+00,0.000005,2.634000e+03
25%,205.500000,28.100000,1.023202e+08,5.360000,5.770569e+07,19.000000,10.000000,8.000000,2009.000000,1.862750e+05,...,1.397750e+05,206.500000,1.490000e+07,1.000000e+05,436.500000,5.102920e+09,4.906325e+07,2.222500e+02,0.560237,1.790264e+06
50%,447.500000,60.000000,3.282395e+08,5.560000,2.706630e+08,48.000000,40.500000,15.000000,2013.000000,4.521000e+05,...,3.391000e+05,448.500000,1.880000e+07,2.000000e+05,1278.000000,9.040989e+09,1.150635e+08,5.695000e+02,0.777352,6.163724e+06
75%,701.750000,88.200000,1.366418e+09,14.700000,4.710315e+08,114.500000,104.750000,22.000000,2015.750000,9.414000e+05,...,7.060000e+05,702.750000,2.670000e+07,4.000000e+05,4142.500000,1.540470e+10,2.380330e+08,1.580500e+03,1.566174,1.873774e+07
max,994.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,7670.000000,7683.000000,31.000000,2022.000000,9.200000e+06,...,6.900000e+06,995.000000,2.450000e+08,8.000000e+06,301308.000000,2.280000e+11,6.589000e+09,4.054962e+06,34.183673,2.293663e+10

In [11]:
df.shape

(554, 28)

Case Study 1 : Analyzing YouTube Growth Trends Across Countries
Background:

You’re a data analyst working for a global media company studying the influence of education and urbanization on YouTube content creation.

The company wants to understand how different countries perform based on certain socio-economic factors and YouTube metrics.

🧠 Questions:

Reading & Boolean Indexing
Filter and display all YouTubers from India whose Unemployment rate is below 6% and who have more than 5 million subscribers.
Indexing & Slicing + Unique
List the first 5 YouTubers (rows) using slicing.

Then, print the unique channel types in the dataset.

Value_counts + Boolean Indexing
Identify the top 3 most common categories on YouTube.

Then, count how many YouTubers belong to the 'Entertainment' category.

In [12]:
df.head()

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
1,2,United States,88.2,328239523,MrBeast,14.70,270663028,MrBeast,Entertainment,Entertainment,...,4000000,3,166000000,8000000,741,28368841870,1348000000,48,4.819277,3.828454e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
4,8,Russia,81.9,144373535,Like Nastya Vlog,4.59,107683889,Like Nastya,People & Blogs,People,...,146800,9,106000000,100000,493,90479060027,48947000,630,0.094340,1.835275e+08

In [13]:
df.columns

Index(['Unnamed: 0', 'Country', 'Gross tertiary education enrollment (%)',
       'Population', 'Title', 'Unemployment rate', 'Urban_population',
       'Youtuber', 'category', 'channel_type', 'channel_type_rank',
       'country_rank', 'created_date', 'created_month', 'created_year',
       'highest_monthly_earnings', 'highest_yearly_earnings',
       'lowest_monthly_earnings', 'lowest_yearly_earnings', 'rank',
       'subscribers', 'subscribers_for_last_30_days', 'uploads', 'video views',
       'video_views_for_the_last_30_days', 'video_views_rank',
       'engagement_rate', 'views_per_upload'],
      dtype='object')

In [15]:
df['Unemployment rate'].describe()

count    554.000000
mean       8.866029
std        4.813768
min        0.750000
25%        5.360000
50%        5.560000
75%       14.700000
max       14.720000
Name: Unemployment rate, dtype: float64

# Reading & Boolean Indexing
# Filter and display all YouTubers from India
# whose Unemployment rate is below 6% and who have more than 5 million subscribers.

In [18]:
cond = (df['Country']== 'India') & (df['Unemployment rate']<6) & (df['subscribers']> 5000000)
df[cond]

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
6,10,India,28.1,1366417754,Zee Music Company,5.36,471031528,Zee Music Company,Music,Music,...,2400000,11,96700000,1100000,8548,57856289381,803613000,12,1.137539,6.768401e+06
9,15,India,28.1,1366417754,Sony SAB,5.36,471031528,Sony SAB,Shows,Entertainment,...,5000000,16,83000000,1100000,71270,101000000000,1657000000,4,1.325301,1.417146e+06
13,21,India,28.1,1366417754,Zee TV,5.36,471031528,Zee TV,Entertainment,Entertainment,...,5100000,22,70500000,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,964,India,28.1,1366417754,Flowers Comedy,5.36,471031528,Flowers Comedy,Entertainment,Entertainment,...,540100,965,12500000,100000,11907,11691081301,180021000,337,0.800000,9.818662e+05
546,980,India,28.1,1366417754,Zee Kids,5.36,471031528,Zee Kids,Film & Animation,Entertainment,...,285500,981,12400000,100000,1212,7683670251,95163000,709,0.806452,6.339662e+06
547,984,India,28.1,1366417754,bharatzkitchen HINDI,5.36,471031528,bharatzkitchen HINDI,Howto & Style,Howto,...,92900,985,12400000,100000,729,2315226648,30968000,4042,0.806452,3.175894e+06
551,991,India,28.1,1366417754,Free Fire India Official,5.36,471031528,Free Fire India Official,People & Blogs,Games,...,194200,992,12300000,300000,1500,1674409945,64735000,6141,2.439024,1.116273e+06
553,994,India,28.1,1366417754,Make Joke Of,5.36,471031528,Make Joke Of,Comedy,Comedy,...,72000,995,12300000,100000,62,2129773714,24000000,4568,0.813008,3.435119e+07

In [ ]:
# Indexing & Slicing + Unique
# List the first 5 YouTubers (rows) using slicing.

# Then, print the unique channel types in the dataset.

In [20]:
df.loc[0:4,['Youtuber']]

                     Youtuber
0                    T-Series
1                     MrBeast
2  Cocomelon - Nursery Rhymes
3                   SET India
4                 Like Nastya

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               554 non-null    int64
 1   Country                                  554 non-null    object
 2   Gross tertiary education enrollment (%)  554 non-null    float64
 3   Population                               554 non-null    int64
 4   Title                                    554 non-null    object
 5   Unemployment rate                        554 non-null    float64
 6   Urban_population                         554 non-null    int64
 7   Youtuber                                 554 non-null    object
 8   category                                 554 non-null    object
 9   channel_type                             554 non-null    object
 10  channel_type_rank                        554 non-null    int64
 11  country_rank                             554 non-null    int64
 12  created_date                             554 non-null    int64
 13  created_month                            554 non-null    object
 14  created_year                             554 non-null    int64
 15  highest_monthly_earnings                 554 non-null    int64
 16  highest_yearly_earnings                  554 non-null    int64
 17  lowest_monthly_earnings                  554 non-null    int64
 18  lowest_yearly_earnings                   554 non-null    int64
 19  rank                                     554 non-null    int64
 20  subscribers                              554 non-null    int64
 21  subscribers_for_last_30_days             554 non-null    int64
 22  uploads                                  554 non-null    int64
 23  video views                              554 non-null    int64
 24  video_views_for_the_last_30_days         554 non-null    int64
 25  video_views_rank                         554 non-null    int64
 26  engagement_rate                          554 non-null    float64
 27  views_per_upload                         554 non-null    float64
dtypes: float64(4), int64(18), object(6)
memory usage: 121.3+ KB

In [23]:
df.loc[:,'channel_type'].unique()

array(['Music', 'Entertainment', 'Education', 'People', 'Sports', 'Film',
       'News', 'Games', 'Howto', 'Comedy', 'Nonprofit', 'Tech', 'Animals',
       'Autos'], dtype=object)

In [25]:
# How many unique channel types are there in data?
df.loc[:,'channel_type'].unique().size

14

In [ ]:
# Value_counts + Boolean Indexing
# Identify the top 3 most common categories on YouTube.

# Then, count how many YouTubers belong to the 'Entertainment' category.

In [26]:
df.head(3)

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
1,2,United States,88.2,328239523,MrBeast,14.70,270663028,MrBeast,Entertainment,Entertainment,...,4000000,3,166000000,8000000,741,28368841870,1348000000,48,4.819277,3.828454e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08

In [49]:

df2=df.loc[:,'category'].value_counts().head(3)
df2.reset_index()
#Top 3 common categories

         category  count
0   Entertainment    145
1           Music    110
2  People & Blogs     72


# Then, count how many YouTubers belong to the 'Entertainment' category.

In [42]:
df1=df[df.loc[:, 'category']== 'Entertainment']
df1

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
1,2,United States,88.2,328239523,MrBeast,14.70,270663028,MrBeast,Entertainment,Entertainment,...,4000000,3,166000000,8000000,741,28368841870,1348000000,48,4.819277,3.828454e+07
5,9,United States,88.2,328239523,Vlad and Niki,14.70,270663028,Vlad and Niki,Entertainment,Entertainment,...,1700000,10,98900000,600000,574,77180169894,580574000,8,0.606673,1.344602e+08
13,21,India,28.1,1366417754,Zee TV,5.36,471031528,Zee TV,Entertainment,Entertainment,...,5100000,22,70500000,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05
26,36,United States,88.2,328239523,Marshmello,14.70,270663028,Marshmello,Entertainment,Music,...,336300,37,56400000,100000,436,14696003229,112100000,233,0.177305,3.370643e+07
35,46,Russia,81.9,144373535,Get Movies,4.59,107683889,Get Movies,Entertainment,Film,...,919600,47,47500000,700000,3322,30788679536,306540000,35,1.473684,9.268115e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,937,United States,88.2,328239523,YoungBoy Never Broke Again,14.70,270663028,YoungBoy Never Broke Again,Entertainment,Music,...,509900,938,12700000,100000,142,13174393401,169968000,279,0.787402,9.277742e+07
537,960,India,28.1,1366417754,NDTV,5.36,471031528,NDTV,Entertainment,News,...,175600,961,12500000,100000,151136,4935793409,58527000,1395,0.800000,3.265796e+04
539,962,India,28.1,1366417754,Family Fitness,5.36,471031528,Family Fitness,Entertainment,Entertainment,...,707100,963,12500000,400000,1699,10384848759,235715000,413,3.200000,6.112330e+06
540,963,India,28.1,1366417754,Zee Tamil,5.36,471031528,Zee Tamil,Entertainment,Entertainment,...,1000000,964,12500000,200000,102699,11552190002,349940000,342,1.600000,1.124859e+05
541,964,India,28.1,1366417754,Flowers Comedy,5.36,471031528,Flowers Comedy,Entertainment,Entertainment,...,540100,965,12500000,100000,11907,11691081301,180021000,337,0.800000,9.818662e+05

In [47]:
df1.loc[:,'Youtuber'].size

145

Case Study 2: Cleaning & Organizing YouTube Earnings Data
Background: As a senior data engineer, you're responsible for cleaning and organizing the data so it’s ready for executive reporting. The management is particularly interested in sorting earnings, updating column names, and resetting index formats.

🧠 Questions:

Sort + Reset Index
Sort the data in descending order of highest_yearly_earnings, and reset the index after sorting.

Display the top 5 entries post-sort.

Rename + Replace
Rename the column highest_monthly_earnings to max_monthly_income and lowest_monthly_earnings to min_monthly_income.

Replace all occurrences of the Category Column - "People & Blogs" with "Personal Vlogs".

Set Index + Reset Index
Set Youtuber as the new index and display the data.

Then reset the index to bring it back to default.

In [50]:
df.head()

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
1,2,United States,88.2,328239523,MrBeast,14.70,270663028,MrBeast,Entertainment,Entertainment,...,4000000,3,166000000,8000000,741,28368841870,1348000000,48,4.819277,3.828454e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
4,8,Russia,81.9,144373535,Like Nastya Vlog,4.59,107683889,Like Nastya,People & Blogs,People,...,146800,9,106000000,100000,493,90479060027,48947000,630,0.094340,1.835275e+08

Sort + Reset Index Sort the data in descending order of highest_yearly_earnings, and reset the index after sorting.

Display the top 5 entries post-sort.

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               554 non-null    int64
 1   Country                                  554 non-null    object
 2   Gross tertiary education enrollment (%)  554 non-null    float64
 3   Population                               554 non-null    int64
 4   Title                                    554 non-null    object
 5   Unemployment rate                        554 non-null    float64
 6   Urban_population                         554 non-null    int64
 7   Youtuber                                 554 non-null    object
 8   category                                 554 non-null    object
 9   channel_type                             554 non-null    object
 10  channel_type_rank                        554 non-null    int64
 11  country_rank                             554 non-null    int64
 12  created_date                             554 non-null    int64
 13  created_month                            554 non-null    object
 14  created_year                             554 non-null    int64
 15  highest_monthly_earnings                 554 non-null    int64
 16  highest_yearly_earnings                  554 non-null    int64
 17  lowest_monthly_earnings                  554 non-null    int64
 18  lowest_yearly_earnings                   554 non-null    int64
 19  rank                                     554 non-null    int64
 20  subscribers                              554 non-null    int64
 21  subscribers_for_last_30_days             554 non-null    int64
 22  uploads                                  554 non-null    int64
 23  video views                              554 non-null    int64
 24  video_views_for_the_last_30_days         554 non-null    int64
 25  video_views_rank                         554 non-null    int64
 26  engagement_rate                          554 non-null    float64
 27  views_per_upload                         554 non-null    float64
dtypes: float64(4), int64(18), object(6)
memory usage: 121.3+ KB

In [62]:
# Sort the data in descending order of
# highest_yearly_earnings, and reset the index after sorting.
df.sort_values(by = 'highest_yearly_earnings', ascending=False, inplace=True)
# without inplace = True --> original data will not change | only changed data will be displayed
# with inplace = True --> original data is changed

In [63]:
df.head().ignore_index=True
df.head().reset_index(drop=True)
# Top 5 entries

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,417,United States,88.2,328239523,DaFuq!?Boom!,14.70,270663028,DaFuq!?Boom!,Film & Animation,Entertainment,...,6900000,418,19600000,6700000,214,7906181776,2304000000,656,34.183673,3.694477e+07
1,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
4,21,India,28.1,1366417754,Zee TV,5.36,471031528,Zee TV,Entertainment,Entertainment,...,5100000,22,70500000,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05

Rename + Replace Rename the column highest_monthly_earnings to max_monthly_income and lowest_monthly_earnings to min_monthly_income.

In [71]:
df.rename(columns = {'highest_monthly_earnings': 'max_monthly_income','lowest_monthly_earnings': 'min_monthly_income'}, inplace=True)
df

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
261,417,United States,88.2,328239523,DaFuq!?Boom!,14.70,270663028,DaFuq!?Boom!,Film & Animation,Entertainment,...,6900000,418,19600000,6700000,214,7906181776,2304000000,656,34.183673,3.694477e+07
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
13,21,India,28.1,1366417754,Zee TV,5.36,471031528,Zee TV,Entertainment,Entertainment,...,5100000,22,70500000,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,175,United States,88.2,328239523,Zhong,14.70,270663028,Zhong,Entertainment,Entertainment,...,0,176,29200000,1000000,1513,14727238483,180519000,230,3.424658,9.733799e+06
491,859,United States,88.2,328239523,Tom Duggan,14.70,270663028,The Q,People & Blogs,Sports,...,0,860,13400000,1,96,4306212515,3,3846885,0.000007,4.485638e+07
74,99,India,28.1,1366417754,Ultra Bollywood,5.36,471031528,Ultra Bollywood,Trailers,Entertainment,...,0,100,36600000,200000,9168,15653786446,131462000,205,0.546448,1.707437e+06
282,455,Brazil,51.3,212559417,Dan-Sa / Daniel Saboya,12.08,183241641,Dan-Sa / Daniel Saboya,Music,Music,...,0,456,18500000,100000,1329,2908120896,6148000000,45213,0.540541,2.188202e+06
514,902,Indonesia,36.3,270203917,Calon Sarjana,4.69,151509724,Calon Sarjana,Entertainment,Entertainment,...,0,903,13000000,300000,29,10664585,2292000000,772571,2.307692,3.677443e+05

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 554 entries, 261 to 514
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               554 non-null    int64
 1   Country                                  554 non-null    object
 2   Gross tertiary education enrollment (%)  554 non-null    float64
 3   Population                               554 non-null    int64
 4   Title                                    554 non-null    object
 5   Unemployment rate                        554 non-null    float64
 6   Urban_population                         554 non-null    int64
 7   Youtuber                                 554 non-null    object
 8   category                                 554 non-null    object
 9   channel_type                             554 non-null    object
 10  channel_type_rank                        554 non-null    int64
 11  country_rank                             554 non-null    int64
 12  created_date                             554 non-null    int64
 13  created_month                            554 non-null    object
 14  created_year                             554 non-null    int64
 15  max_monthly_income                       554 non-null    int64
 16  highest_yearly_earnings                  554 non-null    int64
 17  min_monthly_income                       554 non-null    int64
 18  lowest_yearly_earnings                   554 non-null    int64
 19  rank                                     554 non-null    int64
 20  subscribers                              554 non-null    int64
 21  subscribers_for_last_30_days             554 non-null    int64
 22  uploads                                  554 non-null    int64
 23  video views                              554 non-null    int64
 24  video_views_for_the_last_30_days         554 non-null    int64
 25  video_views_rank                         554 non-null    int64
 26  engagement_rate                          554 non-null    float64
 27  views_per_upload                         554 non-null    float64
dtypes: float64(4), int64(18), object(6)
memory usage: 125.5+ KB


Replace all occurrences of the Category Column - "People & Blogs" with "Personal Vlogs".

In [74]:
df['category'].replace({'People & Blogs' : 'Personal Vlogs'}, inplace=True)
df

,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,Youtuber,category,channel_type,...,lowest_yearly_earnings,rank,subscribers,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
261,417,United States,88.2,328239523,DaFuq!?Boom!,14.70,270663028,DaFuq!?Boom!,Film & Animation,Entertainment,...,6900000,418,19600000,6700000,214,7906181776,2304000000,656,34.183673,3.694477e+07
0,0,India,28.1,1366417754,T-Series,5.36,471031528,T-Series,Music,Music,...,6800000,1,245000000,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
2,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Cocomelon - Nursery Rhymes,Education,Education,...,5900000,4,162000000,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,4,India,28.1,1366417754,SET India,5.36,471031528,SET India,Shows,Entertainment,...,5500000,5,159000000,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
13,21,India,28.1,1366417754,Zee TV,5.36,471031528,Zee TV,Entertainment,Entertainment,...,5100000,22,70500000,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,175,United States,88.2,328239523,Zhong,14.70,270663028,Zhong,Entertainment,Entertainment,...,0,176,29200000,1000000,1513,14727238483,180519000,230,3.424658,9.733799e+06
491,859,United States,88.2,328239523,Tom Duggan,14.70,270663028,The Q,Personal Vlogs,Sports,...,0,860,13400000,1,96,4306212515,3,3846885,0.000007,4.485638e+07
74,99,India,28.1,1366417754,Ultra Bollywood,5.36,471031528,Ultra Bollywood,Trailers,Entertainment,...,0,100,36600000,200000,9168,15653786446,131462000,205,0.546448,1.707437e+06
282,455,Brazil,51.3,212559417,Dan-Sa / Daniel Saboya,12.08,183241641,Dan-Sa / Daniel Saboya,Music,Music,...,0,456,18500000,100000,1329,2908120896,6148000000,45213,0.540541,2.188202e+06
514,902,Indonesia,36.3,270203917,Calon Sarjana,4.69,151509724,Calon Sarjana,Entertainment,Entertainment,...,0,903,13000000,300000,29,10664585,2292000000,772571,2.307692,3.677443e+05

In [76]:
df['category'].unique()

array(['Film & Animation', 'Music', 'Education', 'Shows', 'Entertainment',
       'Personal Vlogs', 'Comedy', 'Gaming', 'Pets & Animals', 'Sports',
       'News & Politics', 'Autos & Vehicles', 'Movies', 'Howto & Style',
       'Trailers', 'Science & Technology', 'Nonprofits & Activism'],
      dtype=object)

Set Index + Reset Index Set Youtuber as the new index and display the data.

Then reset the index to bring it back to default.

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 554 entries, DaFuq!?Boom! to Calon Sarjana
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               554 non-null    int64
 1   Country                                  554 non-null    object
 2   Gross tertiary education enrollment (%)  554 non-null    float64
 3   Population                               554 non-null    int64
 4   Title                                    554 non-null    object
 5   Unemployment rate                        554 non-null    float64
 6   Urban_population                         554 non-null    int64
 7   category                                 554 non-null    object
 8   channel_type                             554 non-null    object
 9   channel_type_rank                        554 non-null    int64
 10  country_rank                             554 non-null    int64
 11  created_date                             554 non-null    int64
 12  created_month                            554 non-null    object
 13  created_year                             554 non-null    int64
 14  max_monthly_income                       554 non-null    int64
 15  highest_yearly_earnings                  554 non-null    int64
 16  min_monthly_income                       554 non-null    int64
 17  lowest_yearly_earnings                   554 non-null    int64
 18  rank                                     554 non-null    int64
 19  subscribers                              554 non-null    int64
 20  subscribers_for_last_30_days             554 non-null    int64
 21  uploads                                  554 non-null    int64
 22  video views                              554 non-null    int64
 23  video_views_for_the_last_30_days         554 non-null    int64
 24  video_views_rank                         554 non-null    int64
 25  engagement_rate                          554 non-null    float64
 26  views_per_upload                         554 non-null    float64
dtypes: float64(4), int64(18), object(5)
memory usage: 137.4+ KB

In [84]:
df.set_index('Youtuber', inplace = True)

KeyError: "None of ['Youtuber'] are in the columns"

In [86]:
df.reset_index(inplace=True)

In [87]:
df

,subscribers,Unnamed: 0,Country,Gross tertiary education enrollment (%),Population,Title,Unemployment rate,Urban_population,category,channel_type,...,min_monthly_income,lowest_yearly_earnings,rank,subscribers_for_last_30_days,uploads,video views,video_views_for_the_last_30_days,video_views_rank,engagement_rate,views_per_upload
0,19600000,417,United States,88.2,328239523,DaFuq!?Boom!,14.70,270663028,Film & Animation,Entertainment,...,576000,6900000,418,6700000,214,7906181776,2304000000,656,34.183673,3.694477e+07
1,245000000,0,India,28.1,1366417754,T-Series,5.36,471031528,Music,Music,...,564600,6800000,1,2000000,20082,228000000000,2258000000,1,0.816327,1.135345e+07
2,162000000,3,United States,88.2,328239523,Cocomelon - Nursery Rhymes,14.70,270663028,Education,Education,...,493800,5900000,4,1000000,966,164000000000,1975000000,2,0.617284,1.697723e+08
3,159000000,4,India,28.1,1366417754,SET India,5.36,471031528,Shows,Entertainment,...,455900,5500000,5,1000000,116536,148000000000,1824000000,3,0.628931,1.269994e+06
4,70500000,21,India,28.1,1366417754,Zee TV,5.36,471031528,Entertainment,Entertainment,...,426800,5100000,22,900000,129204,73139054467,1707000000,9,1.276596,5.660742e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,29200000,175,United States,88.2,328239523,Zhong,14.70,270663028,Entertainment,Entertainment,...,0,0,176,1000000,1513,14727238483,180519000,230,3.424658,9.733799e+06
550,13400000,859,United States,88.2,328239523,Tom Duggan,14.70,270663028,Personal Vlogs,Sports,...,0,0,860,1,96,4306212515,3,3846885,0.000007,4.485638e+07
551,36600000,99,India,28.1,1366417754,Ultra Bollywood,5.36,471031528,Trailers,Entertainment,...,0,0,100,200000,9168,15653786446,131462000,205,0.546448,1.707437e+06
552,18500000,455,Brazil,51.3,212559417,Dan-Sa / Daniel Saboya,12.08,183241641,Music,Music,...,0,0,456,100000,1329,2908120896,6148000000,45213,0.540541,2.188202e+06
553,13000000,902,Indonesia,36.3,270203917,Calon Sarjana,4.69,151509724,Entertainment,Entertainment,...,0,0,903,300000,29,10664585,2292000000,772571,2.307692,3.677443e+05